<h1>Listing automation_tools</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Command pattern</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @automation_tools.each do |automation_tool| %>
  <tr>
    <td><%= automation_tool.name %></td>
    <td><%= automation_tool.command_pattern %></td>
    <td><%= link_to 'Show', automation_tool %></td>
    <td><%= link_to 'Edit', edit_automation_tool_path(automation_tool) %></td>
    <td><%= link_to 'Destroy', automation_tool, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Automation tool', new_automation_tool_path %>
